html,
body{
  padding: 0;
  margin: 0;
  background: #424242;
}
p, h1, h2, h3, h4, h5, label, div{
  color: white;
}
section {
  margin: 15px;
  background-color: #383838;
  -webkit-box-shadow: 1px 9px 15px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 9px 15px 4px rgba(0,0,0,0.75);
box-shadow: 1px 9px 15px 4px rgba(0,0,0,0.75);
}
section > h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}
section > div {
  padding: 10px;
}
.form-control {
  color: white;
  background-color: #232323;
  border-color: black;
  border-radius: 0px;
}
.form-control:focus {
  border-color: black;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(107,107,107,1);
-moz-box-shadow: 0px 0px 13px 2px rgba(107,107,107,1);
box-shadow: 0px 0px 13px 2px rgba(107,107,107,1);
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 0px;
  background-color: #232323;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #6b6b6b;
}
.btn-success:active:hover {
  background-color: #7b7b7b;
  border: none;
}
.img_container {
  overflow-x: hidden;
  /* display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white; */
}
.img_container >.centered > h4 {
  padding: 0px !important;
}

/*  For screen size with width < 600px*/
@media only screen and (max-width: 600px){
}

/*  For screen size with width > 601px*/
@media only screen and (min-width: 601px){
  .about {
    display: flex;
  }
  .about__content,
  .about__img {
    width: 50%;
  }
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.about__img > img{
  width: 100%;
}
.interest__container {
  margin: 10px;
  width: 120px;
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interest__image{
  width: 70px;
  height: 70px;
  margin: auto;
  text-align: center;
}
.interest__image > img {
  width: 70px;
  height: 70px;
}
.interest__title  {
  text-align: center;
}

.interests,
.education,
.experience,
.institution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.institution__image > img{
  width: 150px;
  height: 150px;
}
.institution__info {
  padding: 10px;
  text-align: center;
}
.institution__info_name {
  font-size: 20px;
}
.institution__info_line {
  font-size: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
