html,
body{
  padding: 0;
  margin: 0;
  background: #424242;
}
body{
  overflow: visible !important;
}
p, h1, h2, h3, h4, h5, label, div{
font-family: 'Quicksand', sans-serif;
  color: #F9F9F9;
}
p {
  font-size: 18px;
}
h2 {
  letter-spacing: 2px;
  font-weight: bold;
}
h3 {
  margin-bottom: 5px;
  margin-top: 0px;
  letter-spacing: 1.2px;
  font-size: 21px;
  font-weight: bold;
}
h4 {
  margin-top: 3px;
  margin-bottom: 4px;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
}
section {
  margin: 15px;
  background-color: #383838;
  -webkit-box-shadow: 1px 9px 15px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 9px 15px 4px rgba(0,0,0,0.75);
box-shadow: 1px 9px 15px 4px rgba(0,0,0,0.75);
}
section > h2 {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
}
section > div {
  padding: 15px;
}
.form-control {
  color: white;
  background-color: #232323;
  border-color: black;
  border-radius: 0px;
}
.form-control:focus {
  border-color: black;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(107,107,107,1);
-moz-box-shadow: 0px 0px 13px 2px rgba(107,107,107,1);
box-shadow: 0px 0px 13px 2px rgba(107,107,107,1);
}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 0px;
  background-color: #232323;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #6b6b6b;
}
.btn-success:active:hover {
  background-color: #7b7b7b;
  border: none;
}
.img_container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.img_container > img {
  min-height: 1000px;
}
.img_container >.centered > h4 {
  padding: 0px !important;
}

.divider {
  height: 1px;
  margin: 10px 5px 10px 5px;
  background: gray;
}
/*  For screen size with width < 600px*/
@media only screen and (max-width: 600px){
}

/*  For screen size with width > 601px*/
@media only screen and (min-width: 601px){
  .about {
    display: flex;
  }
  .about__content,
  .about__img {
    width: 50%;
  }
}
.about__content {
  padding: 10px;
}

.about__img > img{
  width: 100%;
}
.interest__container {
  margin: 10px;
  width: 120px;
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interest__image{
  width: 70px;
  height: 70px;
  margin: auto;
  text-align: center;
}
.interest__image > img {
  width: 70px;
  height: 70px;
}
.interest__title  {
  text-align: center;
}
.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.institution {
  display: flex;
  flex-wrap: wrap;
}
.institution__image {
  width: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.institution__info{
  width:75%;
  padding-left: 10px;
}
.institution__image > img{
  width: 100%;
  height: auto;
  max-width: 150px;
}
.institution__details {
  margin-top: 10px;
}
.projects {
  margin-top: 10px;
}

/* Centered text */
.centered {
  position: absolute;
  padding-left: 15px;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}
